@use '../../styles/config/' as *;

.fix {
  flex: calc(1 / 3);
  width: 100%;
  display: flex;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.static__image {
  flex: 1;
  flex-shrink: 999999999;
  flex-basis: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.static__text {
  flex: 2;
  flex-shrink: 1;
  flex-basis: 500px;
  padding-inline: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & * {
    transform: translateY(8px);
  }
}

.title {
  letter-spacing: calc(1rem / 3);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.param {
  color: $clr-DarkGray;
}
