@use '../../styles/config/' as *;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.interactive {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 40%;
  flex: calc(2 / 3);
  overflow: hidden;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
  }
}

.slider_container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.article_container {
  position: relative;
  padding-inline: 6vw;
  padding-top: 8vw;

  .title {
    font-size: calc(48rem / 16);
    line-height: 1em;
    letter-spacing: -2px;
    margin-bottom: 1rem;
    opacity: 0;
    transition: opacity 200ms ease;
  }

  .text {
    color: $clr-DarkGray;
    opacity: 0;
    transition: opacity 200ms ease;
  }

  .visible {
    opacity: 1;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 4rem;
    padding-bottom: 5rem;
    min-height: 40vh;

    .title {
      font-size: calc(40rem / 16);
    }
  }
}
