@use '../styles/config/' as *;

$color: $clr-White;

.nav_element {
  color: $color;
  display: flex;
  align-items: start;
  gap: 3rem;
  width: fit-content;
  position: absolute;
  top: 60px;
  left: 2rem;

  @media (max-width: $breakpoint-mobile) {
    left: 0;
    top: 48px;
    width: 100%;
    display: block;
  }
}

.navlist {
  padding: 0;
  display: flex;
  gap: 2rem;
  list-style-type: none;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.navlist__listitem {
  padding: 0;
  height: 100%;
  line-height: 1;
  height: 1.5em;
  transition: box-shadow 150ms ease;

  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    height: 100%;
  }

  &:hover {
    box-shadow: 0 3px 0 0 $color;
    cursor: pointer;
  }
}

.logo_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  img {
    width: 100%;
  }
}

.hamburger,
.logo {
  display: block;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.logo {
  width: 100px;
}

.hamburger {
  background: none;
  border: none;
  width: 30px;
  transform: translateX(-100%);
  @media (min-width: $breakpoint-mobile) {
    display: none;
  }
}

.hamburger:hover {
  cursor: pointer;
}
