@use '../styles/config/' as *;

.stepper {
  width: 10rem;
  height: 5rem;
  background: $clr-Black;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;

  @media (max-width: $breakpoint-mobile) {
    left: revert;
    bottom: revert;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    width: 8rem;
    height: 4rem;
  }
}

.left_arrow,
.right_arrow {
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.left_arrow:hover::after,
.right_arrow:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0 0 100 / 0.2);
}
