@use './styles/config/' as *;

.app {
  @include font-base-regular;
  max-width: 2000px;
  margin: 0 auto;
  height: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-mobile) {
    display: revert;
  }
}
